<div {{ init_live_component(this) }}>
	<input type="number" value="{{ this.min }}" name="min" data-action="change->live#update">

	<input type="number" value="{{ this.max }}" name="max" data-action="change->live#update">

	Generating a number between
	{{ this.min }}
	and
	{{ this.max }}

	<div>
		<span data-loading>Loading</span>
		<strong data-loading="hide">{{ this.randomNumber }}</strong>
	</div>
</div>
